body {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  height: calc(100vh-2rem);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.logo {
  display: flex;
  flex-grow: 1;
  max-width: 100px;
  max-height: 50px;
  align-items: flex-start;
}

header {
  display: flex;
  justify-content: space-between;
}

.timer {
  display: flex;
  font-size: 30px;
  flex-grow: 1;
  color: blue;
  justify-content: flex-end;
}

hr {
  border-top: 3px double;
  color: blue;
}
