body {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  height: calc(100vh-2rem);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.logo {
  display: flex;
  flex-grow: 1;
  max-width: 100px;
  max-height: 50px;
  align-items: flex-start;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

a {
  text-decoration: none;
  color: red;
}
a:hover {
  color: darkred;
}
.timer {
  display: flex;
  font-size: 30px;
  flex-grow: 1;
  color: blue;
  justify-content: flex-end;
}

hr {
  border-top: 3px double;
  color: blue;
}

button {
  text-align: center;
  width: 90px;
  height: min-content;
  display: block;
  font-size: 12px;
  border-radius: 8px;
  background-color: white;
  color: red;
  border: 2px solid blue;
  transition-duration: 0.2s;
}

button:hover {
  background-color: blue;
  color: white;
}

.highscore-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.highScoreButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.highScoreButtons button {
  display: inline-block;
}
